https://github.com/matplotlib/basemap/archive/v1.1.0.tar.gz
certifi==2018.1.18
chardet==3.0.4
cycler==0.10.0
idna==2.6
kiwisolver==1.0.1
matplotlib==2.2.0
numpy==1.14.1
oauthlib==2.0.6
Pillow==5.0.0
pyparsing==2.2.0
pyproj==1.9.5.1
pyshp==1.2.12
PySocks==1.6.8
python-dateutil==2.6.1
pytz==2018.3
requests==2.20.0
requests-oauthlib==0.8.0
six==1.11.0
tweepy==3.6.0
urllib3==1.22
